<div class="details-card">
  <div class="details-card__info">
    <div class="details-card__info__item">
      <mat-icon class="details-card__icon" (click)="goToPage()">arrow_circle_right</mat-icon>
      <p>Vist page</p>
    </div>

    <div class="details-card__info__item">
      <mat-icon class="details-card__icon">phone</mat-icon>
      <p>{{ business?.display_phone }}</p>
    </div>

    <div class="details-card__info__item">
      <mat-icon class="details-card__icon">room</mat-icon>
      <p>{{ addresesDisplay }}</p>
    </div>
  </div>
  <div>
    <ng-container *ngFor="let hour of business?.hours">
      <div class="details-card__hours">
        <div
          [ngClass]="{
            'details-card__hour--color':
              displayOpen && dayInfo.day === currentDayIndex
          }"
          class="details-card__hour"
          *ngFor="let dayInfo of hour?.open"
        >
          <p class="day">{{ dayInfo.day | days }}</p>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>lock_open</mat-icon>
            <p class="hour">
              {{ dayInfo.start | hoursSeparator }}
            </p>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>lock</mat-icon>
            <p class="hour">
              {{ dayInfo.end | hoursSeparator }}
            </p>
          </div>
          <p
            *ngIf="displayOpen && dayInfo.day === currentDayIndex"
            class="details-card__hour--open"
          >
            Open
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
