<form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>{{'YOUR_FOOD.LOCALIZATION' | translate}}</mat-label>
    <input
      id="location"
      matInput
      type="text"
      name="Location"
      formControlName="location"
    />
    <mat-error *ngIf="searchForm?.get('location')?.hasError('required')">
      {{'YOUR_FOOD.REQUIRED' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label> {{'YOUR_FOOD.NAME' | translate}}</mat-label>
    <input
      matInput
      type="text"
      id="businessName"
      name="name"
      formControlName="bussinesName"
    />
  </mat-form-field>

  <mat-checkbox class="open-now" formControlName="openNow" color="primary"
    > {{'YOUR_FOOD.OPEN_NOW' | translate}}</mat-checkbox
  >

  <mat-form-field appearance="fill">
    <mat-label> {{'YOUR_FOOD.SORT_BY' | translate}}</mat-label>
    <mat-select formControlName="sortBy">
      <mat-option *ngFor="let sort of sortBy" [value]="sort.value">
        {{ sort.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> {{'YOUR_FOOD.PRICE' | translate}}</mat-label>
    <mat-select formControlName="price">
      <mat-option *ngFor="let price of prices" [value]="price.value">
        {{ price.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label> {{'YOUR_FOOD.TYPES' | translate}}</mat-label>
    <mat-select id="types" formControlName="types" multiple>
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{ type.name }}</mat-option
      >
    </mat-select>
    <mat-error *ngIf="searchForm?.get('types')?.hasError('required')">
      {{'YOUR_FOOD.REQUIRED' | translate}}
    </mat-error>
  </mat-form-field>

  <div class="button-container" fxLayout="row" fxLayoutAlign="center center">
    <button
      id="onSubmitButton"
      type="submit"
      mat-raised-button
      [disabled]="searchLoading$ | async"
    >
      <p *ngIf="!(searchLoading$ | async)" style="margin: 0"> {{'YOUR_FOOD.SEARCH' | translate}}</p>
      <mat-icon *ngIf="searchLoading$ | async">
        <mat-spinner [diameter]="20"> </mat-spinner
      ></mat-icon>
    </button>
  </div>
</form>
