<header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon
        class="header-logo-icon"
        routerLink="/home"
        aria-hidden="false"
        aria-label="Example home icon"
        >fastfood</mat-icon
      >
      <h2 class="header-title">Your Food</h2>
    </div>
    <div
      class="header-right"
      fxLayoutAlign="space-between center"
      fxLayoutGap="24px"
    >
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setLanguage('pl')">
          <mat-icon class="menu-icon">language</mat-icon>
          <span>{{ "YOUR_FOOD.POLISH" | translate }}</span>
        </button>
        <button mat-menu-item (click)="setLanguage('en')">
          <mat-icon class="menu-icon">language</mat-icon>
          <span>{{ "YOUR_FOOD.ENGLISH" | translate }}</span>
        </button>
      </mat-menu>

      <mat-icon
        routerLink="/home"
        aria-hidden="false"
        aria-label="Example home icon"
        >account_circle</mat-icon
      >
      <mat-icon
        routerLink="/home"
        aria-hidden="false"
        aria-label="Example home icon"
        >login</mat-icon
      >
    </div>
  </div>
</header>
