<header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-evenly center">
      <h3 class="header-title">Your Food</h3>
      <mat-icon
        routerLink="/home"
        aria-hidden="false"
        aria-label="Example home icon"
        >home</mat-icon
      >
    </div>
    <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-evenly center">
      <mat-icon
        routerLink="/search"
        aria-hidden="false"
        aria-label="Example home icon"
        >search</mat-icon
      >
      <mat-icon
        routerLink="/home"
        aria-hidden="false"
        aria-label="Example home icon"
        >account_circle</mat-icon
      >
    </div>
  </div>
</header>
