<div class="details">
  <div class="details__header">
    <h1>{{ business?.name }}</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
      <app-star-list
        [rating]="business?.rating ?? 0"
        [count]="business?.review_count"
      ></app-star-list>
    </div>
  </div>

  <app-details-card
    class="details__card"
    [business]="business"
  ></app-details-card>

  <google-map class="details__map" width="100%" [center]="center">
    <map-marker
      [position]="marker?.position"
      [label]="marker?.label"
      [title]="marker?.title"
    >
    </map-marker
  ></google-map>

  <div fxLayout="column">
    <div *ngFor="let photo of business?.photos">
      <img class="details__image" [src]="photo" alt="" />
    </div>
  </div>
  <app-review-list
    class="details__reviews"
    [reviews]="reviews"
  ></app-review-list>
</div>
