.details {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 2fr 5fr auto;
  row-gap: 10px;
  column-gap: 10px;
}

.details__header {
  grid-column: 1 / -1;
  align-self: center;
}

.details__card {
  grid-column: 1 / -1;
}

.details-card__info__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.details__map {
  align-self: center;
}

.details__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.details__reviews {
  grid-column: 1 / -1;
}

@media (max-width: 900px) {
  .details {
    grid-template-columns: 1fr;
  }
}
