<div fxLayout="column">
  <div class="review-card" *ngFor="let review of reviews">
    <div fxLayout="row">
      <img class="review-card__image" [src]="review?.user?.image_url" alt="" />
      <p class="review-card__name">
        {{ review?.user?.name }}
      </p>
    </div>
    <div class="review-card__stars">
      <app-star-list [rating]="review?.rating ?? 0"></app-star-list>
      <p class="review-card__created">
        {{ review?.time_created | date }}
      </p>
      <button
          mat-icon-button
          (click)="openComment(review)"
        >
          <mat-icon>open_in_new</mat-icon>
        </button>
    </div>
    <p class="review-card__text">
      {{ review?.text }}
    </p>
  </div>
</div>
