<app-search-form
  [types]="types"
  (onSearch$)="handleOnSearch($event)"
></app-search-form>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Pizza">
    <app-business-list [businesses]="businesses"></app-business-list
  ></mat-tab>
  <mat-tab label="Burger">
    <app-business-list [businesses]="businesses"></app-business-list
  ></mat-tab>
  <mat-tab label="Sushi">
    <app-business-list [businesses]="businesses"></app-business-list
  ></mat-tab>
  <mat-tab label="Steak">
    <app-business-list [businesses]="businesses"></app-business-list
  ></mat-tab>
  <mat-tab label="Pasta">
    <app-business-list [businesses]="businesses"></app-business-list
  ></mat-tab>
  <mat-tab label="Fish">
    <app-business-list [businesses]="businesses"></app-business-list
  ></mat-tab>
</mat-tab-group>
